*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1200px;
    /* background-color: red; */
    margin: 0 auto;
    position: relative;
    border: 1px solid red;
}

.header-menu {
    background: url("../img/header__backgroundImage.svg") no-repeat;
    background-size: 105%;
    min-height: 687px;
}

.menu__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 65.22px;
}

.logo__img {
    width: 191.78px;
    height: 74.84px;
}

.menu__list {
    display: flex;
    flex-wrap: nowrap;
}

.menu__item {
    list-style: none;
    margin: 21px;
    transition: all 0.1s;
}

.menu__link {
    font-family: 'montserratbold';
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #2D2D2D;
    transform: translate(0);
}

.menu__item:hover,
.menu__item:focus {
    transform: scale(1.2);
    transition: all 0.3s ;
}

.menu__social-info {
    text-align: center;
}

.menu__social-info--phone {
    text-decoration: none;
    font-family: 'montserratbold';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #2D2D2D;
}

.call-order {
    font-family: 'montserratregular';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #2D2D2D;
    text-decoration: none;
    border-bottom: 1px dashed black;
}

.call-order:hover,
.call-order:focus {
    border-bottom: 2px solid black;
    transition: all 0.05s;
    font-weight: 700;

}

.content--text {
    margin-top: 192.16px;
    width: 448px;
    min-height: 144px;    
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    text-transform: uppercase;
    color: #3E3E3D;
}




                                            /* services */

.services {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.service {
    display: flex;
    flex-direction: row;
}

.services-section__title {
    margin: 0 auto;
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}

.service-image--odd {
    width: 379.65px;
    height: 320.47px;
    margin-top: 60px;
}

.service__text-content {
    margin-top: 135.16px;
    margin-left: 141.31px;
}

.service-title {
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}

.service-description {
    padding-top: 34px;
    font-family: 'robotoregular';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    width: 75%;
    min-width: 575px;
}

.service-buttonOdd {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 26px;
    gap: 10px;
    background-color: transparent;
    border: 1px solid #DC911B;
    border-radius: 5px;

    font-family: 'robotoregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #000000;

    margin-top: 49px;
    margin-left: 405px;
}

.service-buttonOdd:hover,
.service-buttonOdd:focus {
    background-color: #b77917;
}

.service2 {
    margin-left: 0;
    margin-top: 100px;
}

.service2 .service__text-content {
    margin-left: 123px;
}

.service-buttonEven {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 26px;
    gap: 10px;
    background-color: transparent;
    border: 1px solid #DC911B;
    border-radius: 5px;

    font-family: 'robotoregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #000000;

    margin-top: 49px;
    margin-left: 405px;    
}

.service-buttonEven:hover,
.service-buttonEven:focus {
    background-color: #b77917;
}

.service3 {
    margin-top: 100.45px;
}

.service4 {
    margin-top: 99.55px;
}

.line1, .line2, .line3, .line4 {
    z-index: -1;
}

.line1 {
    position: absolute;
    width: 160px;
    height: 200px;
    left: -160px;
    top: 267px;
}

.line2 {
    position: absolute;
    width: 660px;
    height: 460px;
    left: 335px;
    top: 410.5px;
}

.line3 {
    position: absolute;
    width: 940px;
    height: 1300px;
    left: 340px;
    top: 500px;
    transform: rotate(-3deg);
}

.line4 {
    position: absolute;
    width: 1200.5px;
    height: 571.84px;
    left: -150px;
    top: 1350px;
}

.line5 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1150px;
    top: 1690px;
}

.report__section {
    height: auto;
    background: #3E3E3D;
    margin-top: 206px;
    margin-bottom: 100px;
    min-height: 758px;
}

/* .report {
    background: url("../img/report__bgImage.svg") no-repeat;
    background-position: right center;
    background-size: 50%;
} */

.report__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 820px;
    left: -100px;
}

.report__bgImage {
    /* width: 805px;
    height: 805px; */
    position: absolute;
    left: 550px;
    top: -50px;
}

.report__title {
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 125px;
    margin-left: 130px;
}

.certificates__content {
    display: grid;
    grid-template-areas: "cerf1 cerf2 cerf3";
    gap: 5px;
    margin-top: 106px;
    padding-bottom: 10px;
}

.certificate {
    width: 17rem;
    height: 21rem;
    background: url("../img/certificate.jpg") no-repeat;
    background-position: center center;
    background-size: contain;
}

.certificate1 {
    grid-area: cerf1;
}

.certificate2 {
    grid-area: cerf2;
}

.certificate3 {
    grid-area: cerf3;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.buttonRight, .buttonLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border: none;
}

.buttonRight {
    background-color: #DC911B;
}

.buttonLeft {
    background-color: #C4C4C4;
}

.buttonLeft:hover,
.buttonLeft:focus {
    background-color: azure;
}

.buttonRight:hover, .buttonRight:focus {
    background-color: #fabf60;
}

.buttonRight:active, .buttonLeft:active {
    background-color: rgb(162, 0, 0);
}

.show_information {
    display: flex;
    align-items: center;
    margin-left: 350px;
    margin-top: 39px;
}

.show-more {
    display: flex;
}

.show-more__link {
    text-decoration: none;
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 220px;
    z-index: 90;
}