*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-bottom: 100px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    max-width: 1200px;
    /* background-color: red; */
    margin: 0 auto;
    position: relative;
    border: 1px solid red;
}

.header-bg {
    position: absolute;
    width: 100%;
}

.header-menu {
    background: url("../img/header-bg.png") no-repeat;
    background-size: 100em;
    background-position: center top;
}

.header-menu {

    min-height: 687px;
    z-index: -1;
}

.menu__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 65.22px;
}

.logo__img {
    width: 191.78px;
    height: 74.84px;
}

.burger {
    display: none;
}

.burger__line {
    position: relative;
    height: 2px;
    width: 40px;
    background-color: #FFFFFF;

}

.menu__list {
    display: flex;
    flex-wrap: nowrap;
}

.menu__item {
    list-style: none;
    margin: 21px;
    transition: all 0.1s;
}

.menu__link {
    font-family: 'montserratbold';
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #2D2D2D;
    transform: translate(0);
}

.menu__item:hover,
.menu__item:focus {
    transform: scale(1.2);
    transition: all 0.3s ;
    outline: none;
}

.menu__social-info {
    text-align: center;
}

.phone-image {
    transform: rotate(90deg);
    fill: red;
}

.menu__social-info--phone {
    text-decoration: none;
    font-family: 'montserratbold';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #2D2D2D;
}

.call-order {
    font-family: 'montserratregular';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #2D2D2D;
    text-decoration: none;
    border-bottom: 1px dashed black;
}

.call-order:hover,
.call-order:focus {
    border-bottom: 2px solid black;
    transition: all 0.05s;
    font-weight: 700;
    outline: none;
}

.content--text {
    margin-top: 5em;
    width: 448px;
    min-height: 144px;    
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    text-transform: uppercase;
    color: #3E3E3D;
}




                                            /* services */

.services {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.service {
    display: flex;
    flex-direction: row;
}

.services-section__title {
    margin: 0 auto;
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}

.service-image--odd {
    width: 379.65px;
    height: 320.47px;
    margin-top: 60px;
}

.service__text-content {
    margin-top: 135.16px;
    margin-left: 141.31px;
}

.service-title {
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}

.service-description {
    padding-top: 34px;
    font-family: 'robotoregular';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    width: 75%;
    min-width: 575px;
}

.service-buttonOdd {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 26px;
    gap: 10px;
    background-color: transparent;
    border: 1px solid #DC911B;
    border-radius: 5px;

    font-family: 'robotoregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #000000;

    margin-top: 49px;
    margin-left: 405px;
}

.service-buttonOdd:hover,
.service-buttonOdd:focus {
    background-color: #b77917;
    outline: none;
}

.service2 {
    margin-left: 0;
    margin-top: 100px;
}

.service2 .service__text-content {
    margin-left: 123px;
}

.service-buttonEven {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 26px;
    gap: 10px;
    background-color: transparent;
    border: 1px solid #DC911B;
    border-radius: 5px;

    font-family: 'robotoregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #000000;

    margin-top: 49px;
    margin-left: 405px;    
}

.service-buttonEven:hover,
.service-buttonEven:focus {
    background-color: #b77917;
    outline: none;
}

.service3 {
    margin-top: 100.45px;
}

.service4 {
    margin-top: 99.55px;
}

.line1, .line2, .line3, .line4 {
    z-index: -1;
}

.line1 {
    position: absolute;
    width: 160px;
    height: 200px;
    left: -160px;
    top: 267px;
}

.line2 {
    position: absolute;
    width: 660px;
    height: 460px;
    left: 335px;
    top: 410.5px;
}

.line3 {
    position: absolute;
    width: 940px;
    height: 1300px;
    left: 340px;
    top: 500px;
    transform: rotate(-3deg);
}

.line4 {
    position: absolute;
    width: 1200.5px;
    height: 571.84px;
    left: -150px;
    top: 1350px;
}

.line5 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1150px;
    top: 1690px;
}

.report__section {
    height: auto;
    background: #3E3E3D;
    margin-top: 206px;
    min-height: 758px;
}

/* .report {
    background: url("../img/report__bgImage.svg") no-repeat;
    background-position: right center;
    background-size: 50%;
} */

.report {
    margin-bottom: 65px;
}

.report__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 820px;
    left: -100px;
}

.report__bgImage {
    /* width: 805px;
    height: 805px; */
    position: absolute;
    left: 550px;
    top: -50px;
}

.report__title {
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 125px;
    margin-left: 130px;
}

.slider__wrapper {
    margin: 0px auto;
}

.slider {
    display: none;
    width: 400px;
    height: 465px;
    overflow: hidden;
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
    width: 370px;
    min-height: 336px;
    flex-shrink: 0;
}

.slider__items {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    transform: translateX(0);
    transition: transform 0.8s ease-out;
}

.slider__item {
    display: flex;
    justify-content: center;
    width: 370px;
    position: relative;
    margin: 0 auto;
}

.certificate-slider img {
    width: 341px;
    height: 507px;
}

.certificates__content {
    display: grid;
    grid-template-areas: "cerf1 cerf2 cerf3";
    gap: 5px;
    margin-top: 106px;
    padding-bottom: 10px;
}

.certificate {
    width: 17rem;
    height: 21rem;
    background: url("../img/certificate.jpg") no-repeat;
    background-position: center center;
    background-size: contain;
    transition: all 0.3s;
}

.certificate:hover {
    transform: scale(1.3);
    transition: all 0.3s;
}

.certificate1 {
    grid-area: cerf1;
}

.certificate2 {
    grid-area: cerf2;
}

.certificate3 {
    grid-area: cerf3;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.buttonRight, .buttonLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border: none;
}

.buttonRight {
    background-color: #DC911B;
}

.buttonLeft {
    background-color: #C4C4C4;
}

.buttonLeft:hover,
.buttonLeft:focus {
    background-color: azure;
    outline: none;
}

.buttonRight:hover, .buttonRight:focus {
    background-color: #fabf60;
    outline: none;
}

.buttonRight:active, .buttonLeft:active {
    background-color: rgb(162, 0, 0);
}

.show_information {
    display: flex;
    align-items: center;
    margin-left: 350px;
    margin-top: 39px;
}

.show-more {
    display: flex;
}

.show-more__link {
    text-decoration: none;
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 220px;
    z-index: 90;
    transition: all 0.3s;
}

.show-more__link:hover,
.show-more__link:focus {
    transform: scale(1.05);
    color: #bbbbbb;
    transition: all 0.3s;
    outline: none;
}

.projects__section {
    flex-direction: column;
    margin-top: 76.84px;
}

.projects__section-content {
    margin-left: 102px;
    margin-right: 30px;
}

.project1 {
    display: flex;
}

.projects__section-title {
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
    margin-right: 35px;
    padding-left: 102px;
}

.project-subtitle {
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
    flex-wrap: nowrap;
    margin-top: 244.16px;
}

.project__image {
    position: relative;
    margin-top: 98.16px;
    margin-left: -185px;
    z-index: -1;
}


.projects__date {
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #6F6F6E;

}

.project__description {
    width: 228px;
    height: 72px;
    font-family: 'robotoregular';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-top: 265px;
    margin-left: 59px;
}

.projects__section-content .buttonRight {
    position: relative;
    
    margin-left: 1025px;
}

.project2 {
    display: flex;
}

.show-all {
    display: flex;
    margin-top: 91.84px;
    justify-content: flex-end;
    width: 100%;
}

.show-all__link {
    text-align: right;
    text-decoration: none;
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    transition: all 0.3s;
}

.show-all__link:hover,
.show-all__link:focus {
    transform: scale(1.1);
    transition: all 0.3s;
    outline: none;
}

.show-all img {
    margin-left: 10px;
}

.news__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__news-content {
    margin-top: 206px;
    display: grid;
    grid-template-areas: "preview news1 news2 news3";
    padding-right: 13px;
}

.preview {
    grid-area: preview ;
    width: 189px;
    height: 432px;
    padding-left: 8px;
}

.preview__title {
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}

.preview img {
    position: relative;
    margin-top: 14px;
    left: -40px;
}

.news1 {
    grid-area: news1;
    padding-left: 100px;
    padding-right: 50px;
}

.news2 {
    grid-area: news2;
    padding-left: 50px;
    padding-right: 50px;
}

.news3 {
    grid-area: news3;
    padding-left: 50px;
    height: 210px;
    border-left: 1px solid black;
}

.news__title {
    font-family: 'robotobold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000; 
    margin-bottom: 16px;
}

.news__date {
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #6F6F6E;
}

.news__description {
    display: block;
    /* width: 228px; */
    /* height: 72px; */
    font-family: 'robotoregular';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-top: 16px;
    margin-bottom: 23px;
}

.news__bg {
    position: absolute;
    left: -400px;
    top: 88px;
    z-index: -1;
}

.all-news {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-top: 53.5px;
}

.all-news__link {
    text-align: right;
    text-decoration: none;
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    transition: all 0.3s;
}

.all-news__link:hover,
.all-news__link:focus {
    transform: scale(1.1);
    transition: all 0.3s;
    outline: none;
}

.form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 215px auto 185px auto;
    width: 617px;
    height: 197px;
    background-color: #FFE0B0;
}

.form__title {
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;

}

.form__description {
    margin-top: 11px;
    font-family: 'robotoregular';
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    
    color: #000000;
}

.label {
    margin-top: 30px;
}

.name {
    width: 142px;
    font-family: 'scadaregular';
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #3E3E3D;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(220, 145, 27, 1);
    padding: 6px;
    outline: none;
}

.phone {
    width: 142px;
    font-family: 'scadaregular';
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #3E3E3D;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #3E3E3D;
    margin-left: 54px;
    padding: 6px;
    outline: none;
}

.form__button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 26px;
    gap: 10px;
    border: 1px solid #DC911B;
    border-radius: 5px;
    background-color: transparent;
    top: 40px;
    transition: all 0.3s;
}

.form__button:hover,
.form__button:focus {
    border: 1px solid red;
    transform: scale(1.1);
    transition: all 0.3s;
    outline: none;
}

.form__image {
    position: relative;
}

.form__image-Right  {
    right: 210px;
}

.form__image-Left {
    left: 210px;
    z-index: -1;
}

.form__line {
    position: absolute;
    width: 125%;
    top: 200px;
    left: -155px;
    z-index: -2;
}

.articles {
    display: flex;
    flex-direction: column;
}

.articles__content {
    display: grid;
    grid-template-areas: "article1 article2 article3 article4";
    margin-top: 90px;
    padding: 0 30px;
    gap: 53px;
}

.articles__section-title {
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}

.article {
    display: flex;
    flex-direction: column;
}

.article1 {
    grid-area: article1;
}

.article2 {
    grid-area: article2;
}

.article3 {
    grid-area: article3;
}

.article4 {
    grid-area: article4;
}

.article__title {
    font-family: 'montserratbold';
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}

.article__title:hover,
.article__title:focus {
    color: red;
    outline: none;
}

.article__date {
    font-family: 'montserratlight';
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    margin: 10px 0;    
    color: #C6C6C6;
}

.article__description {
    width: 245px;
    font-family: 'montserratmedium';
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    
    color: #000000;
}

.all-articles {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-top: 53.5px;
}

.all-articles__link {
    text-align: right;
    text-decoration: none;
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    transition: all 0.3s;
}

.all-articles__link:hover,
.all-articles__link:focus {
    transform: scale(1.1);
    transition: all 0.3s;
    outline: none;
}

.certificate__section {
    height: auto;
    background: #3E3E3D;
    margin-top: 90px;
    min-height: 758px;
}

.certificate__bgImage {
    position: absolute;
    width: 60%;
    left: 639px;
    top: 56px;
}

.clients__section {
    display: flex;
    flex-direction: column;
}

.clients__section-title {
    font-family: 'robotobold';
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-transform: uppercase;
    margin-left: 205px;
    margin-top: 57px;
    color: #000000;
    
}

.clients__section-content {
    display: grid;
    grid-template-areas: "cl1 cl2 cl3 cl4"
                         "cl5 cl6 cl7 cl8";
    margin-top: 60px;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
}

.client1 {
    grid-area: cl1;
    /* background: url("../img/vega.svg") no-repeat;
    background-size: contain; */
}

.client2 {
    grid-area: cl2;
}

.client3 {
    grid-area: cl3;
}

.client4 {
    grid-area: cl4;
}

.client5 {
    grid-area: cl5;
}

.client6 {
    grid-area: cl6;
}

.client7 {
    grid-area: cl7;
}

.client8 {
    grid-area: cl8;
}

.client img {
    padding: 60px 40px;
}

footer {
    padding-bottom: 32px;
    background: #3E3E3D;
}

.footer {
    display: block;
}

.footer__menu {
    /* display: flex; */
    flex-direction: column;
}

.before_the_line-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 55px;
    border-bottom: 2px solid #777E89;
}

.information-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 717px;
    padding-right: 122px;
    gap: 159px;

}

.information-content__content {
    display: flex;
    flex-direction: column;
}
/* 
.information-content__content:first-child {
    padding-right: 159px;
}

.information-content__content:nth-child(2n) {
    padding-right: 193px;
}

.information-content__content:last-child {
    padding-right: 0;
} */

.footer__menu-title {
    color: #FFF;
    font-size: 15px;
    font-family: 'montserratbold';
    font-weight: 700;
    line-height: 16px;
}

.information-content ul {
    list-style: none;
    margin-top: 15px;
}

.footer__menu-link a {
    color: #777E89;
    font-size: 14px;
    font-family: 'montserratregular';
    line-height: 27px;
    text-decoration: none;
}

.footer__menu-link a:hover,
.footer__menu-link a:focus {
    color: rgb(215, 196, 196);
    outline: none;
}

.search-form {
    max-width: 420px;
    /* display: inline-block; */
    position: relative;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
}

.search-bar {
    background: transparent;
    border: 0;
    color: #fff;
    width: 100%;
    padding: 14px 18px;
    font-size: 14px;
    transition: 0.1s box-shadow linear;
    border-radius: 4px;
}

.search-icon {
    display: flex;
    align-items: center;
    position: absolute; 
    background: url("../img/search-icon.svg");
    right: 2em;
    top: 1.1em;
    display: flex;
    width: 15px;
    height: 15px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: transparent;
    border: none;
    z-index: 1;
    cursor: pointer;
}

.search-icon:active {
    color: red;
}

.first-line {
    display: flex;
    gap: 104px  ;
    align-items: center;
    margin-top: 28px;
}

.email a {
    color: #FFF;
    font-size: 14px;
    font-family: 'montserratregular';
    line-height: 20px;
    text-decoration-line: underline;
}

.footer__phone a {
    font-family: 'montserratbold';
    color: #FFF;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 23px;
    text-decoration: none;
}

.second-line {
    display: flex;
    gap: 125px;
    margin-top: 15px;
    align-items: center;
}

.location span {
    color: #FFF;
    font-size: 14px;
    line-height: 20px;
    font-family: 'montserratregular';
}

.call-button button {
    width: 175px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #FD9913;
    outline: none;
    border: none;
}

.email a:hover,
.email a:focus {
    color: #a4a4a4;
}

.footer__phone a:hover,
.footer__phone a:focus {
    color: #a4a4a4;
}

.call-button button:hover,
.call-button button:focus {
    background-color: #ffa91e;
}

.after_the_line-content {
    display: flex;
}

.bottom-content {
    display: flex;
    align-items: center;
    margin-top: 55px;
}

.bottom-logo {
    position: absolute;
    left: 45%;
    margin: 0 auto;
}

.bottom-text span {
    color: #777E89;
    font-size: 13px;
    line-height: 19px;
    font-family: 'montserratregular';
}


                                                                            /* MEIDA */

@media (max-width: 1286px) {
    .line1, .line2, .line3,
    .line4, .line5, .form__line {
        display: none;
    } 
    
    .report__bgImage
    {
        position: relative;
        left: -142px;
        width: 45%;
    }

    .certificate__bgImage {
        position: relative;
        left: -88px;
        width: 40%;
        top: -100px;
    }

    .report__content {
        left: 0;
    }
}

@media (max-width: 1264px) {
    .report__bgImage,
    .certificate__bgImage {
        display: none ;
    }
}

@media (max-width: 1218px) {
    .client img {
        padding: 60px 0px;
    }

    .article__description {
        width: auto;
    }
}

@media (max-width: 1199px) {
    .project-subtitle {
        font-size: 28px;
    }

    .projects__section-content .buttonRight {
        margin-left: 920px;
    }
}

@media (max-width: 1178px) {
    .menu__link {
        font-size: 12px;
    }

    .service-image--even,
    .service-image--odd {
        width: 30%;
    }

    
}

@media (max-width: 1154px) {
    .information-content {
        padding-right: 0px  ;
    }

    .form__image-Left {
        left: 177px;
    }

    .menu {
        margin-left: 0px;
    }

}

@media (max-width: 1100px) {
    .projects__section-content .buttonRight {
        margin-left: 860px;
    }
}

@media (max-width: 1076px) {
    .form__image-Left {
        left: 152px;
    }

    .form__image-Right {
        right: 170px;
    }

    .logo__img {
        width: 150px;
    }
}

@media (max-width: 1040px) {
    .service__text-content {
        margin-left: 120px;
    }

    .serviceEven .service__text-content {
        margin-left: 100px;
    }
}

@media (max-width: 1035px) {
    .form__image-Left {
        left: 110px;
    }

    .form__image-Right {
        right: 130px;
    }

    .logo__img {
        width: 110px;
    }

    .projects__section-content .buttonRight {
        margin-left: 770px;
    }
}


@media (max-width: 1008px) {
    .information-content {
        gap: 100px;
    }

    .social-content {
        padding-right: 10px;
    }

    .service__text-content {
        margin-left: 70px;
    }

    .serviceEven .service__text-content {
        margin-left: 50px;
    }

}

@media (max-width: 957px) {
    .phone-image {
        display: none;
    }

    .menu__social-info--phone {
        font-size: 14px;
    }
}

@media (max-width: 938px) {
    .service__text-content {
        margin-left: 5px;
    }

    .serviceEven .service__text-content {
        margin-left: 0;
    }

    .projects__section-content .buttonRight {
        margin-left: 690px;
    }
}

@media (max-width: 919px) {
    .logo__img {
        width: 80px;
    }

    .header-menu {
        /* background-size: 75em; */
        min-height: 500px;
    }
}

@media (max-width: 904px) {
    .clients__section-content {
        grid-template-areas:
        "cl1 cl2"
        "cl3 cl4"
        "cl5 cl6"
        "cl7 cl8";
    }

    .menu__social-info--phone,
    .arrowDown,
    .call-order {
        display: none;
    }

    .logo__img {
        width: 150px;
    }

    .project-subtitle {
        margin-top: 200px;
    }

    .project__description {
        margin-top: 180px;
    }

    .projects__section-content .buttonRight {
        margin-left: 600px;
        margin-top: -44px;
    }

    .form__image-Right {
        right: 50px;
    }

    .form__image-Left {
        left: 50px;
    }

}

@media (max-width: 890px) {
    .information-content {
        gap: 50px;
    }
}

@media (max-width: 882px) {
    .slider {
        display: flex;
    }

    .certificate1,
    .certificate2, 
    .certificate3 {
        display: none;
    }

    .report__title {
        margin: 125px auto 0 auto;
    }

    .show_information {
        margin-bottom: 10px;
    }

    .section__news-content {
        grid-template-areas: "preview news1"
                             "preview news2"
                             "preview news3";

        padding-bottom: 20px;
    }

    .news1,
    .news2,
    .news3 {
        margin-left: 50px;
        padding-left: 50px;
        border-left: 1px solid black;
    }

    .news2,
    .news3 {
        margin-top: 20px;
    }

    .all-news {
        margin: 0;
    }
    
}

@media (max-width: 872px) {
    .projects__section-content .buttonRight {
        margin-left: 600px;
    }

    .content--text {
        margin-top: 3em;
    }

    .project__image {
        width: 400px;
    }

    .project-subtitle {
        font-size: 22px;
    }

    
}

@media (max-width: 846px) {
    .projects__section-content .buttonRight {
        margin-left: 600px;
        margin-top: -60px;
    }

    .service-image--even, .service-image--odd {
        width: 20%;
    }
}

@media (max-width: 816px) {
    .menu__list {
        display: none;
        /* flex-direction: column; */
    }

    .header-menu {
        background-position: center;
    }

    .logo__img--fixed {
        position: fixed;
        top: 3%;
    }

    .burger {
        position: fixed;
        top: 6%;
        left: 90%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: transparent;
        border: none;
        outline: none;
        z-index: 2;
    }

    .show-menu {
        display: flex;
        flex-direction: column;
        transition: all 0.3s;

    }

    .with-bg {
        background: #DC911B;
        transition: all 0.3s;

    }

    .with-text {
        display: none;
        transition: all 0.3s;

    }

    .menu__wrapper {
        min-height: 100px;
    }

    .burger:active{
        transform: scale(1.1);
    }

    .menu {
        margin: 0 60%;
    }

    .menu__list {
        padding: 5px;
    }

    .menu__item {
        padding: 10px 0;
        margin: 0;
    }

    .menu__link {
        font-size: 16px;

    }

    .show-more__link {
        margin-left: 100px;
    }
}


@media (max-width: 790px) {
    .search-bar {
        width: 230px;
    }

    .first-line {
        gap: 30px;
    }

    .second-line {
        gap: 50px   ;
    }
}


@media (max-width: 765px) {
    .projects__section-content .buttonRight {
        top: 4px;
        right: 10%;
        
    }

    .services {
        margin-top: 6em;
    }
}


@media (max-width: 745px) {
    /* СЕКЦИЯ УСЛУГИ */
    .service {
        display: grid;
        grid-template-areas: "service-text-content"
                             "service-image-content";
    }

    .service-description {
        width: auto;
    }

    .service__text-content {
        margin-top: 0;
    }

    .service-image--odd {
        height: auto;
    }

    .service-image--odd
    {
        grid-area: service-image-content;
        width: 70%;
    }

    .service-image--even {
        width: 70%;
    }

    .services-section__title {
        margin-bottom: 150px;
    }

    .project__description {
        margin-top: 97px;
    }
}

@media (max-width: 710px) {
    .search-form {
        max-width: 240px;
    }

    .call-button button {
        width: 140px;
        font-size: 12px;
    }

    .social__info {
        /* display: flex;
        flex-direction: column;
        align-items: flex-end; */
        display: grid;
        grid-template-areas: "email"
                             "phone"
                             "location"
                             "call-button";
                             /* gap: 10px; */
    }

    .first-line {
        display: block;
    }

    .second-line {
        display: block;
        margin: 0;
    }
    
    .email {
        grid-area: email;
    }

    .footer__phone {
        grid-area: "phone";
        margin-top: 20px;
    }

    .location {
        grid-area: location;
        margin-top: 20px;
    }

    .call-button {
        grid-area: call-button;
        margin-top: 20px;
    }
}

@media (max-width: 702px) {
    .projects__section-content .buttonRight {
        top: 70px;
        right: 20%;
    }

    .project__image {
        width: 300px;
    }

    .project-subtitle {
        font-size: 20px;
    }

    .show_information {
        margin: 39px auto 0 auto;
    }
}

@media (max-width: 653px) {
    .projects__section-content .buttonRight {
        right: 55%;
    }

    .articles__content {
        grid-template-areas: "article1"
                             "article2"
                             "article3"
                             "article4";
    }

}

@media (max-width: 610px) {
    .before_the_line-content {
        flex-direction: column;
    }
}

@media (max-width: 595px) {
    .service-description {
        min-width: auto;
    }

    .service-buttonOdd {
        margin-left: 0;
    }

    .service-buttonEven {
        margin-left: 0;
    }
}

@media (max-width: 541px) {
    .projects__section-content .buttonRight {
        right: 70%;
    }

    .project1 {
        flex-direction: column;
        align-items: center;
    }

    .project-subtitle {
        margin-top: 117px;
    }

    .project2 {
        flex-direction: column;
        align-items: center;
    }

    .project__image {
        margin-top: 30px;
    }
    
    .project__description {
        margin-top: 45px;
    }

    .projects__section-content .buttonRight {
        right: 143%;
    }

    .section__news-content {
        grid-template-areas: "preview"
                             "news1"
                             "news2"
                             "news3";
        margin-top: 110px;
    }

    .news1,
    .news2,
    .news3 {
        margin-left: 10px;
    }

    .form__image-Right,
    .form__image-Left {
        display: none;
    }

    .form__container {
        margin: 100px auto 203px auto;
    }

    .projects__date {
        margin: -90px;
    }

    .social-content {
        padding: 30px 30px;
    }
}

@media (max-width: 461px) {
    .clients__section-content {
        grid-template-areas: "cl1"
                             "cl2"
                             "cl3"
                             "cl4"
                             "cl5"
                             "cl6"
                             "cl7"
                             "cl8";
    }

    .clients__section-title {
        margin: 57px auto 0 auto;
    }

    
}

@media (max-width: 400px) {
    .projects__section-content .buttonRight {
        right: 160%;
    }

    .certificate-slider img {
        width: 267px;
        height: 433px;
    }

    .slider {
        height: 391px;
        width: 296px;
    }

    .slider__item {
        width: 296px;
    }

    .burger {
        left: 85%;
    }
}

@media (max-width: 383px) {
    .projects__section-content .buttonRight {
        right: 180%;
    }

    .project__description {
        margin-left: 0;
    }
}

@media (max-width: 368px) {
    .projects__section-content .buttonRight {
        right: 210%;
    }
}